<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <h1 class="text-primary">UHospital</h1>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link" routerLink="/admin">Carga</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/admin/pacientes">Pacientes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/admin/doctores">Doctores</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/admin/enfermeras">Enfermeras</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/admin/medicamentos">Medicamentos</a>
        </li>
      </ul>
    </div>
    <form class="container-fluid justify-content-end">
      <button class="btn btn-outline-success me-2" type="button">
          <a class="nav-link" routerLink="/login">Logout</a>
      </button>
    </form>
</nav>
